<style media="screen">
  li {
    margin-bottom: 10px;
    padding: 10px;
    width: 50%;
    font-family: sans-serif;
    text-align: center;
  }
</style>
<div class="row">
  <div class="col-6">
    <h1>Squads: </h1>
    {{#each users}}
    <h4>Player {{this}}</h4>
    <div class="card-group">
      <div class="card">
        <div class="card-text">
          Player Name
        </div>
      </div>
      <div class="card">
        <div class="card-text">
          Player Name 2
        </div>
      </div>
      <div class="card">
        <div class="card-text">
          Player Name 3
        </div>
      </div>
    </div>
    {{/each}}
  </div>

  <div class="col-6">
    <h1>Available Players: </h1> 
    {{#each players}}
    <div class="card-group">
      <div class="card border-dark mb-3">
        <li class="list-group-item w-100">Display Name: {{displayName}}</li>
        <li class="list-group-item w-100">Win/Loss Ratio: {{wlRatio}}</li>
        <li class="list-group-item w-100">Kill/Death Ratio: {{kdRatio}}</li>

      </div>
      <div class="card border-dark mb-3">
        <li class="list-group-item w-100">Avg Score: {{scoreGame}}</li>
        <li class="list-group-item w-100">Lifetime Kills: {{totalKills}}</li>
        <li class="list-group-item w-100">Largest Kill Count: {{mostKills}}</li>
      </div>
    </div>
    {{/each}}
  </div>
</div>


<script type="text/javascript" src="js/members.js"></script>